{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-12">
            <div class="card-header" style="background-color:#0B5ED7">
                <h2 style="color:white">Seller Create</h2>
            </div>
            <div class="card-body">

            </div>
            <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped">
                    <tbody>

                    <tr>
                        <td>{{ form.organization_name|as_crispy_field }}</td>
                        <td> {{ form.building_number|as_crispy_field }}</td>
                        <td> {{ form.street_name|as_crispy_field }}</td>
                        <td>{{ form.district|as_crispy_field }}</td>
                        <td>{{ form.city|as_crispy_field }}</td>


                    </tr>

                    </tbody>
                </table>

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>{{ form.country|as_crispy_field }}</td>
                        <td>{{ form.postal_code|as_crispy_field }}</td>
                        <td>{{ form.additional_number|as_crispy_field }}</td>
                        <td>{{ form.vat_number|as_crispy_field }}</td>
                        <td>{{ form.other_buyer_id|as_crispy_field }}</td>


                    </tr>
                    </tbody>
                </table>


                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        <i class="fa-solid fa-bookmark"></i>
                        save
                    </button>
                    &nbsp;

                </div>
            </form>
        </div>

    </div>

    </div>
</main>

{% endblock content %}